<section>
    
<div class="container">
	<div class="filterHeader">
		<div class="d-flex justify-content-between align-items-center box1">
			<a href="javascript:;" class="backBtn"><img src="images/svgIcon/backBtn.svg" alt="" /></a>
			<h2>Discussions</h2>
			<a href="javascript:;" class="black-btn">My Posts</a>
		</div>
		<div class="filters postBoxArea d-flex align-items-end">
			
			<span class="filterIcon"><img src="images/svgIcon/filterIcon.svg" alt="" /></span>
			
			<div class="form-group">
				<label>Location:</label>
				<select class="form-control">
					<option>All</option>
					<option>My City</option>
					<option>State</option>
					<option>Country</option>
					<option>World</option>
				</select>
			</div>
			<div class="form-group">
				<label>Industry:</label>
				<select class="form-control">
					<option>All</option>
					<option>My Industry</option>
					<option>Other Industry 1</option>
					<option>Other Industry 2</option>
					<option>Other Industry 3</option>
				</select>
			</div>
			<div class="form-group">
				<label>Skill:</label>
				<select class="form-control">
					<option>Skill 1</option>
					<option>Skill 2</option>
					<option>Skill 3</option>
					<option>Skill 4</option>
					<option>Skill 5</option>
				</select>
			</div>
			<div class="form-group">
				<label>Experience:</label>
				<select class="form-control">
					<option>All</option>
					<option>&lt; 1</option>
					<option>1 to 5</option>
					<option>5 to 10</option>
					<option>10 + </option>
				</select>
			</div>
			<div class="form-group flex-fill">
				<label>Search:</label>
				<div class="searchBox">
				<svg xmlns="" viewBox="0 0 12 12" height="15px" width="15px"><path d="M307.86,397.86a3.22,3.22,0,1,0-2.28.95A3.11,3.11,0,0,0,307.86,397.86Zm4.37,3.07a0.93,0.93,0,0,1-.66,1.57,0.86,0.86,0,0,1-.65-0.27l-2.47-2.47a4.94,4.94,0,0,1-2.88.89,5,5,0,0,1-2-.4,5,5,0,0,1-2.7-2.7,5.06,5.06,0,0,1,0-3.94,5,5,0,0,1,2.7-2.7,5.06,5.06,0,0,1,3.94,0,5,5,0,0,1,2.7,2.7,5,5,0,0,1,.4,2,4.94,4.94,0,0,1-.89,2.88Z" transform="translate(-300.5 -390.5)"></path></svg>
				<input type="text" class="form-control" placeholder="Data scientist">
				</div>
			</div>
			
		</div>
	</div>
</div>
<div class="container pt-5">
	<div class="row">
    	
        <div class="col-md-3 col-sm-3 col-xs-12">
            <!-----LEFT FOLLOWERS LIST----->
            <div *ngFor="let t of topics.data">
        	<a href="javascript:;" class="leftFollowers d-flex mt-0" (click)="listQuestions(t.topicId)">
				<span class="icon"><svg width="37px" height="33px" xmlns="" viewBox="0 0 37 33"><path d="M0,0V33H37V0ZM35.27,1,18.62,15.94,2,1ZM1,1.46,17.88,16.61,1,31.76ZM2.23,32,18.62,17.28,35,32ZM36,31.55,19.37,16.61,36,1.69Z"/></svg></span>
				<h2 class="pl-3">{{t.topicName}} <small>view</small></h2>
            </a>
        </div>
		
            <!-----END LEFT FOLLOWERS LIST----->
        </div>
        
        <div class="col-md-7 col-sm-6 col-xs-12 pr-5">
        	<!-----CENTER WRAPPER----->
        	<div class="rightWrapper pb-5">
                <!----TYPE POST BOX---->
                <div class="postBoxArea mt-0">
                	<div class="d-flex">
                    	<!-- <span><img src="images/svgIcon/user2.svg" alt="" /></span> -->
                        <div class="actionArea flex-fill">
                        	<a href="javascript:;" class="typeBtn" id="showFunction">Ask a Question..</a>
                            <div id="hidFunction" style="display:none;">
                                <h3>{{currentUser.data.username}} (Me)</h3>
                                <input type="text" class="form-control" />
                                <div class="d-flex align-items-center justify-content-between mt-3">
                                    <div class="btnBox d-flex">
                                        <!-- <a href="javascript:;" class="mr-3"><img src="images/svgIcon/img.svg" alt="" /></a>
                                        <a href="javascript:;" class="mr-3"><img src="images/svgIcon/video.svg" alt="" /></a>
                                        <a href="javascript:;" class="mr-3"><img src="images/svgIcon/music.svg" alt="" /></a> -->
                                    </div>
                                    
                                    <div>
                                        <select class="form-control">
                                            <option>Public</option>
                                            <option>Visible only to my Network</option>
                                            <option>Visible only to selected people</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="text-right mt-3">
                                    <a href="javascript:;" class="btn black-btn px-4 py-1" id="showInput">Post</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!----END TYPE POST BOX----
                
                <!----TYPE POST LIST---->
                <div class="postBoxArea" *ngFor="let q of questions.data">
                	<div class="postUser">
                    	<div class="d-flex userDet">
                        	<span><img src="images/svgIcon/user2.svg" alt="" /></span>
                            <div class="postDetail">
                            	<h3>{{q.title}}</h3>
                                <p>{{q.body}}</p>
                                <p>{{q.description}}</p>
                            </div>
                        </div>
                        <button class="btn" (click)="likeContent(q)">{{q.likeCount}} Likes</button>
						<button  [(ngModel)]="answers" (click)="answers=listAnswers(q.questionId)" data-toggle="dropdown">{{q.totalAnswer}} Answers </button>
						<!-- <span style="display: none;">{{let answ=listAnswers(q.questionId)}}</span>   -->
						{{listAnswers(q.questionId)}}
                        <div>
							<!-- <span [(ngModel)]="" ></span> -->
                            <div  *ngFor="let ans of answers.data" id="'ans'+q.questionId">
                                <span><img src="../images/svgIcon/user2.svg" alt="" height="34px" width="34px" /></span> 
                                <span>{{ans.answerName}}</span>
                                <hr/>
                           </div>
                        </div>
                        <div class="d-flex">                        
                           <input type="text" class="form-control" placeholder="add answer ..." [(ngModel)]="answer" />
                           <button type="submit" class="btn btn-info" (click)="addAnswer(q,ans)">Add</button>
                        </div>
                        
						<small>{{q.updatedDate|date}} Last update on </small>
						<br/>
                        <!-- <img src="images/img1.jpg" alt="" class="img-fluid w-100" /> -->
                    </div>
                    <!-- 
                    <div class="comment">
                    	<div class="d-flex align-items-center">
                        	<span><img src="images/svgIcon/user2.svg" alt="" height="34px" width="34px" /></span>
                            <h3 class="m-0">Consectetur adipiscing elit. Aenean euismod <br/> bibendum laoreet.</h3>
                        </div>
                    </div> -->
                </div>
                
                
                <!----END TYPE POST LIST---->
            </div>
            <!-----END CENTER WRAPPER----->
        </div>
		
		<div class="col-md-2 col-sm-3 col-xs-12">
        	<!-----RIGHT POPULAR PEOPLES----->
        	<div class="popularPeople">
				<h3>Popular People</h3>
				<div class="d-flex flex-wrap">
					<span class="imgCircle"><img src="images/img2.jpg" alt="" class="img-fluid" /></span>
					<span class="imgCircle"><img src="images/img2.jpg" alt="" class="img-fluid" /></span>
					<span class="imgCircle"><img src="images/img2.jpg" alt="" class="img-fluid" /></span>
					<span class="imgCircle"><img src="images/img2.jpg" alt="" class="img-fluid" /></span>
					<span class="imgCircle"><img src="images/img2.jpg" alt="" class="img-fluid" /></span>
					<span class="imgCircle"><img src="images/img2.jpg" alt="" class="img-fluid" /></span>
					<span class="imgCircle"><img src="images/img2.jpg" alt="" class="img-fluid" /></span>
				</div>
			</div>
            <!-----END RIGHT POPULAR PEOPLES----->
        </div>
        
    </div>
</div>
</section>