<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-dark opacity-9"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">

        <div class="darkTimeline profile">
          <div class="area d-flex">
            <div class="profileIcon mr-4 d-flex align-items-center justify-content-center"  *ngIf="isGuest==false">
              <img [src]="dpUrl" style="opacity: 0.3;" alt="" width="56" height="66px"> 
            </div>
            <div class="profileIcon mr-4 d-flex align-items-center justify-content-center" *ngIf="isGuest==true">
              <img src="../../../assets/img/svgIcon/user.svg" style="opacity: 0.3;" alt="" width="56" height="66px" />
            </div>
              
            
           
            <!-- <span>
                  <h3>{{users.data.userprofiletitle}}  {{users.data.userprofilefirstname}}</h3>
                  <h4>Designation dummy text place here</h4>
                  <h4>Responsibility dummy text</h4>
                  <div class="award d-flex">
                    <span><img src="../../../assets/img/svgIcon/award.svg" alt="" /></span>
                    <span><img src="../../../assets/img/svgIcon/award.svg" alt="" /></span>
                  </div>
            </span> -->
          </div>
      </div>
        <h1 class="display-2 text-white">Profile:  {{users.data.userprofiletitle}}  {{users.data.userprofilefirstname}}</h1>
        <p class="text-white mt-0 mb-5">This is profile page. You can see the user statistics of this profile they've made within Eden platform </p>
        <a href="#!" class="btn btn-info"  *ngIf="self">Edit profile</a>
        <!-- <a href="#!" class="btn btn-info">{{connections.length}} My Connections</a>
        <a href="#!" class="btn btn-info">{{followings.length}} My Following</a> -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img [src]="dpUrl" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between" *ngIf="!self">
            <a href="javascript:void(0)" (click)="connect(users.data.userprofileuuid)" class="btn btn-sm btn-info mr-4">Connect</a>
            <a href="javascript:void(0)" (click)="follow(users.data)" class="btn btn-sm btn-default float-right">Follow</a>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">{{myStats.dataObj.myConnectionsCount}} </span>
                  <span class="description">Connected Colleagues</span>
                </div>
                <div>
                  <span class="heading">{{myStats.dataObj.myPostCount}}</span>
                  <span class="description">Total Posts</span>
                </div>
                <div>
                  <span class="heading">{{myStats.dataObj.myfollowingCount}}</span>
                  <span class="description">Followings</span>
                </div>
                <div>
                  <span class="heading">{{myStats.dataObj.myfollowersCount}}</span>
                  <span class="description">Followers</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{users.data.userprofiletitle}}  {{users.data.userprofilefirstname}} {{users.data.userprofilesurname}} <span class="font-weight-light">, {{users.data.userprofiledob}}</span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{users.data.userprofilecity}}, {{users.data.userprofilestate}}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>{{users.data.userprofiledesignation}}
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>{{users.data.email}}
            </div>
            <hr class="my-4" />
            <!-- <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p> -->
            <!-- <a href="javascript:void(0)">Show more</a> -->
          </div>
        </div>
      </div>
    </div>
    <br/><br/>
    <div class="col-xl-8 order-xl-1" *ngIf="self">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
            <div class="col-4 text-right">
              <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
              <div class="col-md-8 col-sm-9 col-xs-12">
                <div class="form-group">
                  <label class="font-weight-bold">Current Visibility : {{users.data.userprofilevisibility}}</label> 
                  <label class="font-weight-bold">Change visible setting: </label>
                  <select class="form-control" [(ngModel)]="visibility">
                    <option>Public</option>
                    <!-- <option>Only to people within this Platform</option> -->
                    <option selected>Network</option>
                    <!-- <option>Only to Recruiters &amp; Staff</option> -->
                  </select>
                </div>
              </div><br/>
             
            </div>
          </div>
        </div>
        <div class="card-body">
          <form  class="form-group"> 
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                    <input type="text" id="input-username" class="form-control" placeholder="Username" value="{{users.data.username}}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input type="email" id="input-email" class="form-control" placeholder="email" value="{{users.data.email}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">First name</label>
                    <input type="text" id="input-first-name" class="form-control" [(ngModel)]="firstname" name="firstname" placeholder="{{users.data.userprofilefirstname}}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Last name</label>
                    <input type="text" id="input-last-name" class="form-control" [(ngModel)]="lastname" name="lastname"  placeholder="{{users.data.userprofilesurname}}">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <!-- <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                  </div> -->
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City: {{users.data.userprofilecity}}</label>
                    <input type="text" id="input-city" [(ngModel)]="city" name="city" class="form-control form-control-alternative" placeholder="{{users.data.userprofilecity}}">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">State: {{users.data.userprofilestate}}</label>
                    <input type="text" id="input-country" [(ngModel)]="state" name="state" class="form-control form-control-alternative" placeholder="{{users.data.userprofilestate}}">
                  </div>
                </div>
                <div class="col-lg-4">  
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Postal code: {{users.data.userprofilepincode}}</label>
                    <input type="number" id="input-postal-code" [(ngModel)]="pincode" name="pincode" class="form-control form-control-alternative" placeholder="{{users.data.userprofilepincode}}">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>About Me</label>
                <textarea rows="4" class="form-control form-control-alternative" [(ngModel)]="aboutMe" name="aboutMe" placeholder="{{users.data.userprofilewanttobe}}"></textarea>
              </div>
            </div>
            <div class="col-md-5 col-sm-4 col-xs-12">
              <button type="submit" (click)="SaveProfile()" class="btn btn-info black-btn float-right px-5">Save</button>
            </div>
           </form> 
        </div>
      </div>
    </div>
  </div>
</div>
<!--FULL PROFILE-->
<div class="col-xl-8 order-xl-1" *ngIf="full">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-8">
          <h3 class="mb-0">My Education / Skills / Career Path</h3>
        </div>
        <div class="col-4 text-right">
          <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
          <div class="col-md-8 col-sm-9 col-xs-12">
            <div class="form-group">
            
            </div>
          </div><br/>
         
        </div>
      </div>
    </div>
    <hr class="my-4" />
    
    <div class="card-body">
      <form  class="form-group"> 
        <h6 class="heading-small text-muted mb-4">Education information</h6>
        <div class="pl-lg-4">
          <div class="row">          
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Year of passing: 2010</label> 
                <!-- <input type="text" id="input-username" class="form-control" placeholder="Username" value="{{users.data.username}}"> -->
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-email">University Name: Standford University</label>
                <!-- <input type="email" id="input-email" class="form-control" placeholder="email" value="{{users.data.email}}"> -->
              </div>
            </div>        
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Degree Name: Social Science Masters Degree</label>
                <!-- <input type="text" id="input-first-name" class="form-control" [(ngModel)]="firstname" name="firstname" placeholder="{{users.data.userprofilefirstname}}"> -->
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-last-name">Percentage: 85 % </label>
                <!-- <input type="text" id="input-last-name" class="form-control" [(ngModel)]="lastname" name="lastname"  placeholder="{{users.data.userprofilesurname}}"> -->
              </div>
            </div>
          </div>

          <div class="row">

           
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Year of passing: 2008</label> 
                <!-- <input type="text" id="input-username" class="form-control" placeholder="Username" value="{{users.data.username}}"> -->
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-email">University Name: MIT University</label>
                <!-- <input type="email" id="input-email" class="form-control" placeholder="email" value="{{users.data.email}}"> -->
              </div>
            </div>
         
        
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Degree Name: Machine Science Bachlor Degree</label>
                <!-- <input type="text" id="input-first-name" class="form-control" [(ngModel)]="firstname" name="firstname" placeholder="{{users.data.userprofilefirstname}}"> -->
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-last-name">Percentage: 76 % </label>
                <!-- <input type="text" id="input-last-name" class="form-control" [(ngModel)]="lastname" name="lastname"  placeholder="{{users.data.userprofilesurname}}"> -->
              </div>
            </div>
          </div>
          <div class="row">

           
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Year of passing: 2008</label> 
                <!-- <input type="text" id="input-username" class="form-control" placeholder="Username" value="{{users.data.username}}"> -->
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-email">University Name: BIT University</label>
                <!-- <input type="email" id="input-email" class="form-control" placeholder="email" value="{{users.data.email}}"> -->
              </div>
            </div>
         
        
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Degree Name: Specialization in Data Science</label>
                <!-- <input type="text" id="input-first-name" class="form-control" [(ngModel)]="firstname" name="firstname" placeholder="{{users.data.userprofilefirstname}}"> -->
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-last-name">Percentage: 88 % </label>
                <!-- <input type="text" id="input-last-name" class="form-control" [(ngModel)]="lastname" name="lastname"  placeholder="{{users.data.userprofilesurname}}"> -->
              </div>
            </div>
          </div>
          <div class="row">

           
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-username">Year of passing: 1997</label> 
                <!-- <input type="text" id="input-username" class="form-control" placeholder="Username" value="{{users.data.username}}"> -->
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-email">University Name: Good Name Public College</label>
                <!-- <input type="email" id="input-email" class="form-control" placeholder="email" value="{{users.data.email}}"> -->
              </div>
            </div>
         
        
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Degree Name: High School </label>
                <!-- <input type="text" id="input-first-name" class="form-control" [(ngModel)]="firstname" name="firstname" placeholder="{{users.data.userprofilefirstname}}"> -->
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="form-control-label" for="input-last-name">Percentage: 98 % </label>
                <!-- <input type="text" id="input-last-name" class="form-control" [(ngModel)]="lastname" name="lastname"  placeholder="{{users.data.userprofilesurname}}"> -->
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4" />
       
        
       
       
       </form> 
    </div>
    <div class="card-body">
      <form  class="form-group"> 
        <h6 class="heading-small text-muted mb-4">Skills information</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="font-weight-bold">Skills: JAVA Cloud Computing </label>
               </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="font-weight-bold">Skills: AWS Devops</label>
               </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="font-weight-bold">Skills: Machine Learning  </label>
                </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="font-weight-bold">Skills: JAVA AWS </label>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4" />
       
       
       
       
       </form> 
    </div>
  </div>
</div>

